<mat-card>
  <mat-card-header>
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency:'EUR':'symbol-narrow' }}</mat-card-subtitle>
  </mat-card-header>
  <img (click)="handleImgClick()" mat-card-image [src]="product.image">
  <mat-card-content>
    <p>
      {{ product.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!isCart" (click)="handleAddToCartClick()" mat-raised-button>ADD TO CART</button>
    <button [routerLink]="['product', product.id]" mat-raised-button>DETAILS</button>
  </mat-card-actions>
</mat-card>