:host {
  display: block;
  padding: 40px;
}

input {
  margin: 20px 0;
}

.ng-valid {
  border: solid 2px green;
}

.ng-invalid.ng-touched {
  border: solid 2px red;
}

.error-message {
  color: red;
}